.cuadrado {
	width: 80px;
	border: 10px solid #F99339 ;
	padding: 80px;
	background-color: #FFD262;
}

.pacman{
		width:0; 
		height:0; 
		border-right: 50px solid transparent; 
		border-top: 50px solid #5cb85c; 
		border-left: 50px solid #5cb85c; 
		border-bottom: 50px solid #5cb85c; 
		-moz-border-radius: 100%; 
		-webkit-border-radius: 100%; 
		border-radius: 100%; }
}